<% layout('layouts/boilerplate') %>
<form action="/login" method="post" class="validated-form" novalidate>
    <h1>Login</h1>
    <div class="mb-3">
        <label class="form-lable" for="username" style="color: blue;">Enter username</label>
        <input class="form-control" type="text" name="username" id="username" placeholder="Enter username" required>
        <div class="valid-feedback">
            Looks Good!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-lable" for="password" style="color: blue;">Enter password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="Enter password" required>
        <div class="valid-feedback">
            Looks Good!
        </div>
    </div>
    <button class="btn btn-success">Login</button>
</form>