<% layout('layouts/boilerplate') %>
<form action="/register" method="post" class="validated-form" novalidate>
    <h1>Register</h1>
    <div class="mb-3">
        <label class="form-lable" for="username">Enter username</label>
        <input class="form-control" type="text" name="username" id="username" placeholder="Enter username" required>
        <div class="valid-feedback">
            Looks Good!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-lable" for="password">Enter password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="Enter password" required>
        <div class="valid-feedback">
            Looks Good!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-lable" for="email">Enter email</label>
        <input class="form-control" type="email" name="email" id="email" placeholder="Enter email" required>
        <div class="valid-feedback">
            Looks Good!
        </div>
    </div>
    <button class="btn btn-success">Sign Up</button>
</form>